---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';

import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';

import Image from '~/components/common/Image.astro';
import Button from '~/components/ui/Button.astro';

import appStoreImg from '~/assets/images/app-store.png';
import googlePlayImg from '~/assets/images/google-play.png';
import Footer from '~/components/widgets/Footer.astro';
import { getAsset, getPermalink } from '~/utils/permalinks';

const appStoreDownloadLink = 'https://github.com/onwidget/astrowind';
const googlePlayDownloadLink = 'https://github.com/onwidget/astrowind';

const metadata = {
  title: "Australia's Leading Queue Management System",
};
const myFooterData = {
  links: [
    {
      title: 'Company',
      links: [
        { text: 'For businesses', href: '/business' },
        { text: 'Legal', href: getPermalink('/terms') },
      ],
    },
  ],
  secondaryLinks: [
    { text: 'Terms', href: getPermalink('/terms') },
    { text: 'Privacy Policy', href: getPermalink('/privacy') },
  ],
  socialLinks: [
    { ariaLabel: 'X', icon: 'tabler:brand-x', href: '#' },
    { ariaLabel: 'Instagram', icon: 'tabler:brand-instagram', href: '#' },
    { ariaLabel: 'Facebook', icon: 'tabler:brand-facebook', href: '#' },
    { ariaLabel: 'RSS', icon: 'tabler:rss', href: getAsset('/rss.xml') },
    { ariaLabel: 'Github', icon: 'tabler:brand-github', href: 'https://github.com/onwidget/astrowind' },
  ],
  footNote: `
    <span class="w-5 h-5 md:w-6 md:h-6 md:-mt-0.5 bg-cover mr-1.5 rtl:mr-0 rtl:ml-1.5 float-left rtl:float-right rounded-sm bg-[url(https://onwidget.com/favicon/favicon-32x32.png)]"></span>
    Made by <a class="text-blue-600 hover:underline dark:text-gray-200" href="https://swiftqu.com/"> Giflet Rentals</a> · All rights reserved.
  `,
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      position="left"
      links={[
        { text: 'Features', href: '#:~:text=Join%20the%20line%20online' },
        {
          text: 'Testimonials',
          href: '#:~:text=%22%20SwiftQu%20made%20my,and%20user%2Dfriendly.%20%22',
        },
        { text: 'Download', href: '#:~:text=Download%20the%20SwiftQU%20app%20now!' },
      ]}
      actions={[
        {
          text: 'Get The App!',
          href: '/business',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline=""
    image={{
      src: 'https://www.artprocessors.net/sites/default/files/styles/feature_image/public/media/images/tasteofsummer-16.jpg?itok=xsBZxDQa',
      alt: 'AstroWind Hero Image',
    }}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight">Gifleet</span>: <br /> Quality, Affordable <br />And Reliable
      Drives <span class="hidden xl:inline"></span>
    </Fragment>

    <Fragment slot="subtitle">
      Download now to find your ride with <span class="font-semibold">Gifleet</span> and drive away in no time!
    </Fragment>

    <div slot="actions" class="flex max-w-sm gap-4">
      <Button variant="link" href={appStoreDownloadLink}>
        <Image src={appStoreImg} alt="App Store Image" width={200} />
      </Button>

      <Button variant="link" href={googlePlayDownloadLink}>
        <Image src={googlePlayImg} alt="Google Play Image" width={200} />
      </Button>
    </div>
  </Hero2>

  <!-- Features3 Widget ************** -->

  <Features3
    id="features"
    title="Find your ride with Gifleet"
    subtitle="From needing a last minute Valentine's coupe to a 3 day offroad cruise wheeler, Gifleet has you covered"
    columns={2}
  />

  <!-- Hero Widget 2 -->

  <!-- <Hero2
    tagline="Walk-ins & Virtual Queues"
    image={{
      src: 'https://www.artprocessors.net/sites/default/files/styles/feature_image/public/media/images/tasteofsummer-16.jpg?itok=xsBZxDQa',
      alt: 'AstroWind Hero Image',
    }}
  >
    <Fragment slot="title">Join the line online</Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Impromptu cocktail night or 10pm Thai cravings? Pick a restaurant near you and join their virtual queue, even if
        you aren't at their door yet. That's it – just track your progress in real time through the app and simply walk
        in.
      </span>
    </Fragment>
    <Hero2 /> -->

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[]}
    image={{
      src: 'https://cdn.motor1.com/images/mgl/NGGZon/s3/koenigsegg-gemera.webp',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h5 class="text-sm font-bold text-gray-400 mb-2">SPORTS, SEDANS AND SPEED</h5>
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Hire Australia's Top Luxury Cars
      </h3>
      <h4>
        Have an impromptu cocktail evening? Or just want to enjoy the pleasures of the road? Gifleet's high-end fleet is
        ready to serve you. With cars from over 40 brands you're bound to find the drive of your life!
      </h4>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[]}
    image={{
      src: 'https://thumbs.dreamstime.com/b/family-vacation-holiday-family-traveling-car-family-vacation-holiday-happy-family-having-fun-beach-sunset-photo-300156900.jpg',
      alt: 'Vintage Image',
    }}
  >
    <Fragment slot="content">
      <h5 class="text-sm font-bold text-gray-400 mb-2">FIT FOR FAMILIES</h5>
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Take a trip anywhere, anytime</h3>
      <h4>
        Our cars are suited for weekend trips with the kids, with rides ranging from offroaders to cruisers, you can bet
        you and the family will enjoy your multi-weekend trip down to the beaches!
      </h4>
    </Fragment>
  </Content>

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    title="Don't Miss Out"
    stats={[
      { amount: '20K', icon: 'tabler:download' },
      { amount: '18.5K', icon: 'tabler:users' },
      { amount: '4.7', icon: 'tabler:user-star' },
    ]}
  /> -->

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="What our users say"
    testimonials={[
      {
        testimonial: `I've rented cars all over the world, but Gifleet provided one of the smoothest experiences yet! From their easy online booking to the impeccable condition of the car, everything was top-notch. Gifleet’s customer service team was also incredibly helpful, providing tips and guidance for my travels. Highly recommended for anyone looking for stress-free car rental!`,
        name: 'Cary Kennedy',
        job: 'IOS User',
        image: {
          src: 'https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Cary Kennedy Image',
        },
      },
      {
        testimonial: `As a frequent business traveler, I need a reliable and efficient car rental service, and Gifleet delivers just that. Their quick pick-up and drop-off process saves me a lot of time. The wide selection of cars means I can choose one that suits my needs perfectly, whether it's for a quick city trip or a longer drive. Thanks to Gifleet, I can focus on my work without worrying about transportation`,
        name: 'Josh Wilkinson',
        job: 'IOS User',
        image: {
          src: 'https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Josh Wilkinson Image',
        },
      },
      {
        testimonial:
          'Organizing events means I have to be on the move constantly. Gifleet has been a game-changer for me. Their flexible rental periods and excellent customer service make them stand out. Last-minute bookings? No problem! Gifleet always has a solution. It’s comforting to know I can rely on them for all my car rental needs',
        name: 'Sidney Hansen',
        job: 'IOS User',
        image: {
          src: 'https://images.unsplash.com/photo-1512361436605-a484bdb34b5f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Sidney Hansen Image',
        },
      },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <!-- <FAQs
    title="Still have some doubts?"
    items={[
      {
        title: 'What does this app do?',
        description:
          'This app provides a platform for you to easily browse, purchase, download, and use a wide range of website templates for your projects.',
      },
      {
        title: 'How can this app solve my problem?',
        description:
          'This app streamlines the process of finding and implementing professional website designs, saving you time and effort in creating visually appealing and functional websites.',
      },
      {
        title: 'Is it available for my device?',
        description: `Our app is designed for compatibility across various devices and platforms, ensuring accessibility whether you're using a smartphone, tablet, or computer.`,
      },
      {
        title: 'What makes this app different from others?',
        description:
          'Our app stands out for its user-friendly interface, extensive template collection, and seamless integration of the purchasing and downloading process, making it highly efficient.',
      },
      {
        title: 'Are there any costs involved?',
        description:
          'While the app itself may be free to download, there may be costs associated with purchasing specific templates based on your preferences and project requirements.',
      },
    ]}
  /> -->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    id="download"
    title="Download the Gifleet app now!"
    subtitle="Join over 20,000 diners, grabbing a table the smart way."
  >
    <div slot="actions" class="flex max-w-sm gap-4">
      <Button variant="link" href={appStoreDownloadLink}>
        <Image src={appStoreImg} alt="App Store Image" width={200} />
      </Button>

      <Button variant="link" href={googlePlayDownloadLink}>
        <Image src={googlePlayImg} alt="Google Play Image" width={200} />
      </Button>
    </div>
  </CallToAction>
  <Fragment slot="footer">
    <Footer {...myFooterData} />
  </Fragment>
</Layout>
