---
import Button from '~/components/ui/Button.astro';
import type { Form } from '~/types';
import EmailForm from './EmailForm';

const { inputs, textarea, disclaimer, button = 'Contact us', description = '' } = Astro.props as Form;
---

<EmailForm inputs={inputs} textarea={textarea} disclaimer={disclaimer} description={description} client:only="react">
  <Button variant="primary" type="submit">
    {button}
  </Button>
</EmailForm>
